[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2"
djangorestframework = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
django-filter = "*"

[dev-packages]
pytest = "*"
model-bakery = "*"

[requires]
python_version = "3.7"
